<html lang="en-gb">
  <head>
    <title>River</title>
    <meta name="description" content="Streams of several mastodon-accounts in one river.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/load.js" defer></script>
    <script src="/index.js" defer></script>
  </head>
  <body>
    <header>
      <a href="/config" title="Configurate your streams">Config</a>
<!--
      <form action="/" method="post">
        <label>Streams</label><br>
        <input type="checkbox" name="stream_home" value="home"> Home<br>
        <input type="radio" name="stream_scope" value="local"> Local<br>
        <input type="radio" name="stream_scope" value="global" checked> Global<br>
        <input type="checkbox" name="stream_messages" value="messages"> Messages<br>
        <input type="submit" value="Submit">
      </form>
-->
      <button id="stop-or-start">
        Pause
      </button>
    </header>
    <main id="stream">
      <div class="post">
        <p>
	  Let the streams begin ...
        </p>
        <div class="meta">
          ... if nothing happens after a few seconds, something went wrong.
        </div>
      </div>
    </main>
    <footer>
      <p>
	You're reading several mastodon-streams in one river.
	  <a href="https://glitch.com/edit/#!/stream-me-a-river"
	     title="To the river-code on glitch">Remix</a>
	it on glitch, to make it your own.
      </p>
    </footer>
  </body>
</html>
