<html lang="en-gb">
  <head>
    <title>toot</title>
    <meta name="description" content="A mastodon to twitter poster">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
  </head>
  <body>

    <main id="stream">
      <div class="post">
        <p>
	  Let the streams begin ...
        </p>
        <div class="meta">
          ... if nothing happens after a few seconds, something went wrong.
        </div>
      </div>
    </main>
    <footer>
      <p>
	This is a river of several mastodon-streams and you can <a href="https://glitch.com/edit/#!/remix/stream-me-a-river" title="To the river-code on glitch">remix</a> it on glitch, to make it your own.
      </p>
    </footer>
  </body>
</html>
