<html lang="en-gb">
  <head>
    <title>River</title>
    <meta name="description" content="Streams of several mastodon-accounts in one river.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../scripts/helpers/load.js" defer></script>
    <script src="../scripts/index.js" defer></script>
  </head>
  <body>
    <header>
      <a href="/config" title="Configure streams">&#128009;</a>
      <a href="." id="stop-or-start" class="pause">
        &#9646;&#9646;
      </a>
    </header>
    <main id="stream">
    </main>
    <footer>
      <p>
        You're reading several mastodon-streams in one river.
        <a href="https://glitch.com/edit/#!/stream-me-a-river"
           title="To the river-code on glitch">Remix</a>
        it on glitch, to make it your own.
      </p>
    </footer>
  </body>
</html>
